oas-xsd/oas.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.gbv.de/schemas/oas" xmlns="http://www.gbv.de/schemas/oas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="report">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:date" name="from"/>
        <xs:element type="xs:date" name="until"/>
        <xs:element type="xs:string" name="granularity"/>
        <xs:element name="classifications">
           <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="classification" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="entries">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entry" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="identifier"/>
                    <xs:element type="xs:date" name="date"/>
                    <xs:element name="access" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:nonNegativeInteger" name="count"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:dateTime" name="created"/>
    </xs:complexType>
  </xs:element>
</xs:schema>